.social-box {
    background-color: #cfcfcf;
}

.social-box h4 {
    font-family: Tanha;
}


.social-box-ul span {
    font-family: Tanha;
    margin-left: 10px;
}

@media (max-width: 462px) {  
    .h4-font-size{
        font-size: 1em;
    }
}