.search-box i{
    position: absolute;
    top: 3px;
    left: 8px;
}
i {
    color: rgba(18, 93, 234,0.75);
}

/*==========================
Sidebar navigation
========================*/
.navbar {
    position: relative;
  }
  button {
    cursor: pointer;
    background: transparent;;
    border: none;
    font-size: 18px;
  }
  .navbar .toggle {
    position: fixed;
    left: 20px;
    top: 80px;
    cursor: pointer;
    background: transparent;;
    border: none;
  }
  .menu-nav {
    list-style: none;
    position: absolute;
    background: #eee;
    right: 0;
    width: 0;
    overflow: hidden;
    max-width: 180px;
    z-index: 9;
    font-size: 16px;
    box-shadow: 0 10px 15px -3px rgb(46 41 51 / 8%), 0 4px 6px -2px rgb(71 63 79 / 16%);
    transform: translateX(-100px);
    transition: transform ease-in-out 1s;
    /* transition: width ease 0.2s; */
  }
  .menu-nav.show-menu {
    width: 100%;
    top: 55px;
    right: 0;
    transform: translateX(0px);
  }
  .menu-nav li a, .menu-nav li span {
    display: block;
    padding: 0.5rem;
  }  
  